{% extends "order/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
            <!--Card-->
              <!--Card content-->
          <div class="card">
          <form class="card-body" method="POST">

          <!--Grid row-->
            <div class="row">
            <!--Grid column-->
              <div class="col-md-8 mb-2">
              <!--Card content-->
                {% csrf_token %}
                <fieldset class="">
                  <legend class="border-bottom mb-4">Add new address</legend>
                  {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Deliver to this address</button>
                </div>
              </div>
            </div>
          </form>
          </div>


        </div>



        <!--Grid column-->
        <div class="col-md-4 mb-4">



        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
{% endblock content %}
