{% extends "order/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
            <!--Card-->
           {% if default_address %}
              <div class="ml-2">
                <h4>Your Default Address</h4>
                <p><b>address:</b> {{ default_address.address }}</p>
                <p><b>address2:</b> {{ default_address.address2 }}</p>
                <p><b>country:</b> {{ default_address.country.name }}</p>
                <p><b>zip:</b> {{ default_address.zip }}</p>
              </div>
              <a class="btn btn-primary" href="{{ order.get_order_payment_url }}">Deliver to default address</a>
              <a class="btn btn-info float-right" href="{% url 'add-new-address' %}">Add new address</a>
            {% else %}
              <a class="btn btn-info" href="{% url 'add-new-address' %}">Add new address</a>
            {% endif %}
            {% if saved_addresses %}
              <a class="btn btn-secondary" href="{% url 'select-from-saved-addresses' %}">Select from saved addresses</a>
            {% endif %}


        </div>



        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>

          {% include "order/order_contents.html" %}

          <!-- Promo code -->
            <form class="card p-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
                </div>
              </div>
            </form>
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
{% endblock content %}
