{% extends "order/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
            <!--Card-->
              <!--Card content-->
          {% for address in saved_addresses %}
          <div class="card mt-2">
            <div class="ml-2 mt-2">
              <p>Address: {{ address.address }}</p>
              <p>Address2: {{ address.address2 }}</p>
              <p>Country: {{ address.country.name }}</p>
              <p>Zip: {{ address.zip }}</p>
              <a href="{% url 'select-from-saved-addresses' %}?billing_id={{address.id}}" class="btn btn-primary">Deliver to this address</a>
            </div>
          </div>
          {% endfor %}
        </div>

        <!--Grid column-->
        <div class="col-md-4 mb-4">


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
{% endblock content %}
